* {
   border: 3px solid whitesmoke;
   margin: 25px;
   padding: 10px;
}

body {
   background-color: rgb(129, 146, 146); 
   width: 960px;
   margin: auto;
   border: 10px solid black; 
}
/* About me */
h1 {
   color: rgb(235, 236, 245);
   font-family: Arial, Helvetica, sans-serif; 
}
/* About Me */
header {
   background-color: rgb(134, 6, 6);
   text-align: center; 
   padding: 8px; 
   margin: 10px;
}
/* ordered and unordered lists */
li {
   border: solid rgb(104, 23, 151) 2px;
   padding: 2px; 
   margin: 10px 60px 10px 20px;
   font-family: Arial, Helvetica, sans-serif; 
   text-align: center;
}

p {
   display: inline-block;
   text-align: left; 
   font-family: Arial, Helvetica, sans-serif; 
   border: solid rgb(105, 13, 28) 2px;
   padding: 8px; 
   margin: 10px 60px 10px 20px;
}

footer {
   text-align:center;
   bottom: 0;
   position: static;
   width: 100%;
}

.footer {
   height: fixed;
   margin: auto;
   width: 400px;
   text-align:center;
   padding:10px;
}
